<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<script src="https://unpkg.com/base-58@0.0.1/Base58.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAABFvgAARb4B0IHyYgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIpSURBVHic5du5edtAFEXhM66HqM/OBGVWexz2ohBO/PhJFJZZ3oLlNkCcP5BIYACByzmPj8fjb+Q1pKgPzjmPwBtASunjdrv9ibiOEICv8c8LCUJwB5iLl0UguAKsxcu8EdwASuJlngguADXxMi8Ec4CWeJkHgilAT7zMGsEMQCNeZolgAqAZL7NCUAewiJdZIKgCWMbLtBHUADziZZoIKgCe8TIthG6AiHiZBkIXQGS8rBehGWAP8bIehCaAPcXLWhGqAfYYL2tBqALYc7ysFqEY4AjxshqEIoAjxctKETYBjhgvK0FYBThyvGwLYRHgDPGyNYRZgDPFy5YQfgCcMV42h/AN4MzxsleEJ8AV4mVfERJcK14mCOmK8bKU0sevaZo+oy8katM0fSaA+/3+O6UUelAhYOMwDO/PP4IXQxiHYXiHl3+DF0F4xsPMF6GTI3yLh4WvwidF+BEPKz+GToYwGw8bP4dPgrAYDwU3RA6OsBoPhbfEDoqwGQ8VN0UPhlAUD5W3xQ+CUBwPDQ9Gdo5QFQ+Nj8Z2ilAdDx0PR3eG0BQPnY/Hd4LQHA8KBySCEbriQemITBBCdzwoHpJyRlCJB+Vjck4IavFgcFDSGEE1HoyOyhohqMeD4WFpZQSTeDA+Lq+EYBYPDi9MdCKYxoPTKzONCObx4PjSVCWCSzw4vzZXiOAWDwEvTm4guMZD0KuzCwju8RD48vQLQkh8+HLO4//zCWH7B6TVRCpVqUZ2AAAAAElFTkSuQmCC" />
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Waves Wall</title>
</head>
<body>
	<div id="app" class="flex-item">
		<div class="msg-wrapper flex-item bordered" ref="msgWrapper">
			<table id="msg-list">
				<tr v-for="msg in messages">
					<td>
					{{ formatTime(msg.time)}}
					</td>
					<td>
						<a :href="'https://wavesexplorer.com/tx/' + msg.id">{{ formatSender(msg.sender) }}</a>:
					</td>
					<td>
						{{ msg.text }} ({{ (msg.amount / 100000000).toLocaleString('ru-ru', {maximumSignificantDigits: 20}) }} WAVES)
					</td>
				</tr>
			</table>
		</div>
		<div class="input-wrapper flex-item">
			<input type="submit" class="button" value="Send" @click="send">
			<div id="msg-count-wrapper" class="flex-item bordered">
				<div id="msg-input-wrapper" class="flex-item">
					<input id="msg" class="bordered" v-model="message" @keyup.enter="send" placeholder="Message" minlength ="1" maxlength="140" autofocus />
				</div>
				<div id="count-wrapper">{{message.length}}/140</div>
			</div>
			<div id="amount-wrapper" class="flex-item bordered">
				<div id="amount-input-wrapper" class="flex-item">
					<input type="number" step="0.001" min="0.001" id="amount" class="" v-model="amount" placeholder="Amount" minlength ="1" maxlength="5" />
				</div>
				<div id="count-wrapper">WAVES</div>
			</div>
		</div>
		<div class="flex-row info bordered">
			<div>
				Wall: <a :href="'https://wavesexplorer.com/address/' + wall">{{ wall }}</a>
			</div>
			<div>
				Fee: {{ fee }} WAVES
			</div>
			<div>
				<a href="https://github.com/bodrych/waveswall">GitHub</a>
			</div>
			<div>
				<a href="https://forum.wavesplatform.com/t/waves-keeper-beta/3547">Waves Keeper</a>
			</div>
			<div>
				<a href="https://forum.wavesplatform.com/t/the-waves-wall/3670">Forum thread</a>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>