body {
	font-family: Consolas, monospace;
	font-size: 14px;
}
a {
	text-decoration: underline;
  text-decoration-color: dodgerblue
}
a:link, a:visited {
  color: black;
}
a:hover {
	color: dodgerblue;
}
a:active {
	color: blue;
}
input {
	font-family: inherit;
	font-size: inherit;
}
input::-webkit-input-placeholder{
  color: lightgray;
}
input:-moz-placeholder{
  color: lightgray;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.bordered {
	border: 1px solid dodgerblue;
}
.flex-item {
	display: flex;
}
.button {
	background-color: dodgerblue;
	color: white;
	transition-duration: 0.2s;
	padding: 5px;
	margin-right: 5px;
	width: 70px;
	text-align: center;
	outline: none;
	border: 1px solid dodgerblue;
}
.button:hover {
	background-color: mediumblue;
	border: 1px solid mediumblue;
	/*color: black;*/
}
a.button {
	text-decoration: none;
	color: white;
}